include includes/powerley
doctype html
html(lang="en")
  head
    title Header Fade/Zoom
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#324354")
    //- link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/hamburgers.css")
    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Logan McAnsh")
    meta(name="twitter:description" content="Logan McAnsh")
    meta(name="twitter:image" content="SOME URL HERE")
    
    //- typekit
    script.
      !function(e,t,n,a,c,l,m,o,d,f,h,i){c[l]&&(d=e.createElement(t),d[n]=c[l],e[a]("head")[0].appendChild(d),e.documentElement.className+=" wf-cached"),function s(){for(d=e[a](t),f="",h=0;h<d.length;h++)i=d[h][n],i.match(m)&&(f+=i);f&&(c[l]="/**/"+f),setTimeout(s,o+=o)}()}(document,"style","innerHTML","getElementsByTagName",localStorage,"tk",/^@font|^\.tk-/,100);
    script.
      (function(d) {
        var config = {
          kitId: 'tru7kee',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    
  body
    nav
      .logo
        a(href="/")
          .powerley-logo
      .hammy-container
        button.hamburger.hamburger--3dy(type="button")
          span.hamburger-box
            span.hamburger-inner
      .links
        a(href="") Platform
        a(href="") Implementation
        a(href="") About
        a(href="") Resources
    header
      .bg
        .img
      .header-container
        .header-content
          h1 Header Zoom and Fade on Scroll
    section#about
      h3 This is a remade version of 
        a(href="https://blog.invisionapp.com") Invision's
        |  header that zooms and fades on scroll.
      
      p It's pretty rad.
      
      a.btn(href="https://github.com/mcansh/header-fade-zoom") View the repo

    script(async src="js/jquery-3.0.0.min.js")
    script(async src="js/myfunctions.min.js")
  
